body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #e2f4fc;
    color: #0d0e0e;
    padding: 9px;
    text-align: center;
}

.logo-container img {
    height: 60px;
}

h1 {
    margin: 10px 0 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 50%;
}

.content-section,
.question-section,
.result-section {
    margin-bottom: 15px;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.submit-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.result-button,
.reset-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

